<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%=@title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
		<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
		<!--script src="js/less-1.3.3.min.js"></script-->
		<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="img/favicon.png">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" media="all" href="http://media.nhschoices.nhs.uk/nhs/nhs.fs.widget/nhs.fs.widget.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>
	</head>
	<body>
		<div class="container">
			<%if session[:username]%>
			<div class="row clearfix mt">
				<div class="col-md-4 column">
					<div style="background: url(<%=@user[:picture]%>) no-repeat; background-position:center; background-size:contain;" class="circular-pic"><p class="username"><%=@user[:username]%></p></div>
				</div>
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
			<% end %>
			<div class="row clearfix prime">
				<div class="col-md-6 column ">
					<span class="silver">Elder</span><span class="black">net</span>
				</div>
				<div class="col-md-6 column">
					<form role="form" action="https://www.google.com/" method="get">
						<div class="form-group">
							<input type="search" class="form-control" name="#q" id="query" placeholder="Search...">
						</div>
					</form>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="row clearfix">
						<div class="col-md-6 column slogan">
							a place for
						</div>
						<%if session[:username]%>
						<div class="col-md-6 column link">
							<a href="/logout">log out</a>
						</div>
						<%else%>
						<div class="col-md-6 column link">
							<a href="/login/signin">sign in</a>
						</div>
						<%end%>
					</div>
					<div class="row clearfix">
						<div class="col-md-6 column slogan">
							the older
						</div>
						<%if session[:username]%>
						<div class="col-md-6 column link">
							<a href="/news">news</a>
						</div>
						<%else%>
						<div class="col-md-6 column link">
							<a href="/login/signup">sign up</a>
						</div>
						<%end%>
					</div>
					<div class="row clearfix">
						<div class="col-md-6 column slogan">
							generation
						</div>
						<%if session[:username]%>
						<div class="col-md-6 column link">
							<a href="/appManager">applications</a>
						</div>
						<%end%>
					</div>
				</div>
				<div class="col-md-6 column">
				</div>
			</div>
			<%if !session[:username]%>
			<div class="row clearfix">
				<div class="col-md-12 column mt mb">
					<iframe src="//player.vimeo.com/video/102211970" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<%end%>
			<!-- DashBoard -->
			<%if session[:username]%>
			<div class="row clearfix mt">
				<div class="col-md-4 col-sm-4 mb">
					<div class="white-panel pn">
						<div class="white-header">
							<h5>Temperture</h5>
						</div>
						<h2 class="temp_center"><%=@temp[:reading]%> °C</h2>
					</div>
					</div><!-- /col-md-4 -->
					<div class="col-md-4 col-sm-4 mb">
						<div class="white-panel pn">
							<div class="white-header">
								<h5>DropBox Carousel</h5>
							</div>
							<div id="db_sign_in">
								<h3>Link your DropBox:</h3>
								<a href="/api/auth/dropbox"><img src="/img/dropbox.png" width="175px" /></a>
							</div>
							<div class="images" id="images"></div>
						</div>
						</div><!-- /col-md-4 -->
						<div class="col-md-4 col-sm-4 mb">
							<div class="white-panel pn">
								<div class="white-header">
									<h5>Word Search</h5>
								</div>
								<div class="jumbotron wordsearch">
									<a href="/wordsearch">Do a Daily Word Search! <span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
							</div><!-- /col-md-4 -->
						</div>
			<div class="row clearfix mt">
				<div class="col-md-4 col-sm-4 mb">
					<div class="white-panel pn">
						<div class="white-header">
							<h5>NHS Hospital Finder</h5>
						</div>
						<div id="nhs"></div>
					</div>
					</div><!-- /col-md-4 -->
						</div>
						<%end%>
					</div>
					<script type="text/javascript" src="js/jquery.min.js"></script>
					<script type="text/javascript" src="js/bootstrap.min.js"></script>
					<script src="http://media.nhschoices.nhs.uk/nhs/nhs.fs.widget/nhs.fs.widget.min.js" type="text/javascript"></script>
					<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.3.6/slick.min.js"></script>

					<script type="text/javascript">
					$( document ).ready(
					$.getJSON('/api/getfiles/dropbox', function(data){$.each(data, function(key,val){
						if (data[":status"] == "failed"){
					}else {
						$("#db_sign_in").hide()
						$("#images").append("<img src='" + val["url"] + "'/>")
					};
					$('#images').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  slide: '> div',
  cssEase: 'linear'
});
					})});
							$(function () {
			$('#nhs').fsNHSWidget([1,4]);
		});

					);
					</script>
				</body>
			</html>